# Ignore python cache and build artifacts
*__pycache__*
*.pyc
*.swp
.cache
dist/
build/
*.egg*
.directory
.coverage

# Ignore specific files
README_BASE64_UPDATE.md

# Ignore directories related to specific projects/features
yaml_generator/
